VITVDataFeed/Service References/SSIWebService/AjaxWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://ssi.com.vn/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://ssi.com.vn/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ssi.com.vn/">
      <s:element name="GetStatusBasePrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="tradingFloor" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStatusBasePriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStatusBasePriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHoseIndex">
        <s:complexType />
      </s:element>
      <s:element name="GetHoseIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoseIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHoseStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHoseStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHoseStockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHoseStockQuoteInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHoseStockQuoteInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoseStockQuoteInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHoseStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHoseStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoseStockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHoseIndexChart">
        <s:complexType />
      </s:element>
      <s:element name="GetHoseIndexChartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHoseIndexChartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHosePTInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHosePTInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHosePTMatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTBid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTBidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHosePTBidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHosePTOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHosePTOfferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHose30Index">
        <s:complexType />
      </s:element>
      <s:element name="GetHose30IndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHose30IndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHose30StockList">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHose30StockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHose30StockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHose30StockQuoteInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHose30StockQuoteInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHose30StockQuoteInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHose30StockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHose30StockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHose30StockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxIndex">
        <s:complexType />
      </s:element>
      <s:element name="GetHnxIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataHnxStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetDataHnxStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataHnxStockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxStockQuoteInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHnxStockQuoteInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxStockQuoteInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxStockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxTop3Price">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxTop3PriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxTop3PriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxIndexChart">
        <s:complexType />
      </s:element>
      <s:element name="GetHnxIndexChartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxIndexChartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHnxPTInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxPTInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTMatch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTMatchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxPTMatchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTBid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTBidResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxPTBidResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTOffer">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnxPTOfferResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnxPTOfferResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30Index">
        <s:complexType />
      </s:element>
      <s:element name="GetHnx30IndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnx30IndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30StockList">
        <s:complexType />
      </s:element>
      <s:element name="GetHnx30StockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnx30StockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30StockQuoteInit">
        <s:complexType />
      </s:element>
      <s:element name="GetHnx30StockQuoteInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnx30StockQuoteInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30StockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30StockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnx30StockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30Top3Price">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetHnx30Top3PriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHnx30Top3PriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarketAllIndex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMarketAllIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMarketAllIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomIndex">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomIndexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomIndexResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomStockList">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomStockListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomStockListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomStockQuoteInit">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomStockQuoteInitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomStockQuoteInitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomStockQuote">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomStockQuoteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomStockQuoteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomTop3Price">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VersionId" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomTop3PriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomTop3PriceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUpcomIndexChart">
        <s:complexType />
      </s:element>
      <s:element name="GetUpcomIndexChartResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUpcomIndexChartResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetStatusBasePriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetStatusBasePrice" />
  </wsdl:message>
  <wsdl:message name="GetStatusBasePriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetStatusBasePriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetHoseIndex" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoseIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHoseStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHoseStockList" />
  </wsdl:message>
  <wsdl:message name="GetDataHoseStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHoseStockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHoseStockQuoteInit" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoseStockQuoteInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetHoseStockQuote" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoseStockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexChartSoapIn">
    <wsdl:part name="parameters" element="tns:GetHoseIndexChart" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexChartSoapOut">
    <wsdl:part name="parameters" element="tns:GetHoseIndexChartResponse" />
  </wsdl:message>
  <wsdl:message name="GetHosePTInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHosePTInit" />
  </wsdl:message>
  <wsdl:message name="GetHosePTInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHosePTInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHosePTMatchSoapIn">
    <wsdl:part name="parameters" element="tns:GetHosePTMatch" />
  </wsdl:message>
  <wsdl:message name="GetHosePTMatchSoapOut">
    <wsdl:part name="parameters" element="tns:GetHosePTMatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetHosePTBidSoapIn">
    <wsdl:part name="parameters" element="tns:GetHosePTBid" />
  </wsdl:message>
  <wsdl:message name="GetHosePTBidSoapOut">
    <wsdl:part name="parameters" element="tns:GetHosePTBidResponse" />
  </wsdl:message>
  <wsdl:message name="GetHosePTOfferSoapIn">
    <wsdl:part name="parameters" element="tns:GetHosePTOffer" />
  </wsdl:message>
  <wsdl:message name="GetHosePTOfferSoapOut">
    <wsdl:part name="parameters" element="tns:GetHosePTOfferResponse" />
  </wsdl:message>
  <wsdl:message name="GetHose30IndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetHose30Index" />
  </wsdl:message>
  <wsdl:message name="GetHose30IndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetHose30IndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHose30StockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHose30StockList" />
  </wsdl:message>
  <wsdl:message name="GetDataHose30StockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHose30StockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHose30StockQuoteInit" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHose30StockQuoteInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetHose30StockQuote" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetHose30StockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxIndex" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetDataHnxStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetDataHnxStockList" />
  </wsdl:message>
  <wsdl:message name="GetDataHnxStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetDataHnxStockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxStockQuoteInit" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxStockQuoteInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxStockQuote" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxStockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxTop3PriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxTop3Price" />
  </wsdl:message>
  <wsdl:message name="GetHnxTop3PriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxTop3PriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexChartSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxIndexChart" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexChartSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxIndexChartResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxPTInit" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxPTInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTMatchSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxPTMatch" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTMatchSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxPTMatchResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTBidSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxPTBid" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTBidSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxPTBidResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTOfferSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnxPTOffer" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTOfferSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnxPTOfferResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnx30IndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnx30Index" />
  </wsdl:message>
  <wsdl:message name="GetHnx30IndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnx30IndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnx30StockList" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnx30StockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnx30StockQuoteInit" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnx30StockQuoteInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnx30StockQuote" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnx30StockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetHnx30Top3PriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetHnx30Top3Price" />
  </wsdl:message>
  <wsdl:message name="GetHnx30Top3PriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetHnx30Top3PriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetMarketAllIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetMarketAllIndex" />
  </wsdl:message>
  <wsdl:message name="GetMarketAllIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetMarketAllIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomIndex" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomIndexResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockListSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomStockList" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockListSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomStockListResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteInitSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomStockQuoteInit" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteInitSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomStockQuoteInitResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomStockQuote" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomStockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomTop3PriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomTop3Price" />
  </wsdl:message>
  <wsdl:message name="GetUpcomTop3PriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomTop3PriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexChartSoapIn">
    <wsdl:part name="parameters" element="tns:GetUpcomIndexChart" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexChartSoapOut">
    <wsdl:part name="parameters" element="tns:GetUpcomIndexChartResponse" />
  </wsdl:message>
  <wsdl:message name="GetStatusBasePriceHttpPostIn">
    <wsdl:part name="tradingFloor" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetStatusBasePriceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexHttpPostIn" />
  <wsdl:message name="GetHoseIndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHoseStockListHttpPostIn" />
  <wsdl:message name="GetDataHoseStockListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteInitHttpPostIn" />
  <wsdl:message name="GetHoseStockQuoteInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHoseStockQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHoseIndexChartHttpPostIn" />
  <wsdl:message name="GetHoseIndexChartHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTInitHttpPostIn" />
  <wsdl:message name="GetHosePTInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTMatchHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTMatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTBidHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTBidHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTOfferHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHosePTOfferHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHose30IndexHttpPostIn" />
  <wsdl:message name="GetHose30IndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHose30StockListHttpPostIn" />
  <wsdl:message name="GetDataHose30StockListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteInitHttpPostIn" />
  <wsdl:message name="GetHose30StockQuoteInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHose30StockQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexHttpPostIn" />
  <wsdl:message name="GetHnxIndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDataHnxStockListHttpPostIn" />
  <wsdl:message name="GetDataHnxStockListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteInitHttpPostIn" />
  <wsdl:message name="GetHnxStockQuoteInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxStockQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxTop3PriceHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxTop3PriceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxIndexChartHttpPostIn" />
  <wsdl:message name="GetHnxIndexChartHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTInitHttpPostIn" />
  <wsdl:message name="GetHnxPTInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTMatchHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTMatchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTBidHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTBidHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTOfferHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnxPTOfferHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30IndexHttpPostIn" />
  <wsdl:message name="GetHnx30IndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockListHttpPostIn" />
  <wsdl:message name="GetHnx30StockListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteInitHttpPostIn" />
  <wsdl:message name="GetHnx30StockQuoteInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30StockQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30Top3PriceHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetHnx30Top3PriceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetMarketAllIndexHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMarketAllIndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexHttpPostIn" />
  <wsdl:message name="GetUpcomIndexHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockListHttpPostIn" />
  <wsdl:message name="GetUpcomStockListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteInitHttpPostIn" />
  <wsdl:message name="GetUpcomStockQuoteInitHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomStockQuoteHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomTop3PriceHttpPostIn">
    <wsdl:part name="VersionId" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomTop3PriceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetUpcomIndexChartHttpPostIn" />
  <wsdl:message name="GetUpcomIndexChartHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="AjaxWebServiceSoap">
    <wsdl:operation name="GetStatusBasePrice">
      <wsdl:input message="tns:GetStatusBasePriceSoapIn" />
      <wsdl:output message="tns:GetStatusBasePriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndex">
      <wsdl:input message="tns:GetHoseIndexSoapIn" />
      <wsdl:output message="tns:GetHoseIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHoseStockList">
      <wsdl:input message="tns:GetDataHoseStockListSoapIn" />
      <wsdl:output message="tns:GetDataHoseStockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuoteInit">
      <wsdl:input message="tns:GetHoseStockQuoteInitSoapIn" />
      <wsdl:output message="tns:GetHoseStockQuoteInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuote">
      <wsdl:input message="tns:GetHoseStockQuoteSoapIn" />
      <wsdl:output message="tns:GetHoseStockQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndexChart">
      <wsdl:input message="tns:GetHoseIndexChartSoapIn" />
      <wsdl:output message="tns:GetHoseIndexChartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTInit">
      <wsdl:input message="tns:GetHosePTInitSoapIn" />
      <wsdl:output message="tns:GetHosePTInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTMatch">
      <wsdl:input message="tns:GetHosePTMatchSoapIn" />
      <wsdl:output message="tns:GetHosePTMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTBid">
      <wsdl:input message="tns:GetHosePTBidSoapIn" />
      <wsdl:output message="tns:GetHosePTBidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTOffer">
      <wsdl:input message="tns:GetHosePTOfferSoapIn" />
      <wsdl:output message="tns:GetHosePTOfferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30Index">
      <wsdl:input message="tns:GetHose30IndexSoapIn" />
      <wsdl:output message="tns:GetHose30IndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHose30StockList">
      <wsdl:input message="tns:GetDataHose30StockListSoapIn" />
      <wsdl:output message="tns:GetDataHose30StockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuoteInit">
      <wsdl:input message="tns:GetHose30StockQuoteInitSoapIn" />
      <wsdl:output message="tns:GetHose30StockQuoteInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuote">
      <wsdl:input message="tns:GetHose30StockQuoteSoapIn" />
      <wsdl:output message="tns:GetHose30StockQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndex">
      <wsdl:input message="tns:GetHnxIndexSoapIn" />
      <wsdl:output message="tns:GetHnxIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHnxStockList">
      <wsdl:input message="tns:GetDataHnxStockListSoapIn" />
      <wsdl:output message="tns:GetDataHnxStockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuoteInit">
      <wsdl:input message="tns:GetHnxStockQuoteInitSoapIn" />
      <wsdl:output message="tns:GetHnxStockQuoteInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuote">
      <wsdl:input message="tns:GetHnxStockQuoteSoapIn" />
      <wsdl:output message="tns:GetHnxStockQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxTop3Price">
      <wsdl:input message="tns:GetHnxTop3PriceSoapIn" />
      <wsdl:output message="tns:GetHnxTop3PriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndexChart">
      <wsdl:input message="tns:GetHnxIndexChartSoapIn" />
      <wsdl:output message="tns:GetHnxIndexChartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTInit">
      <wsdl:input message="tns:GetHnxPTInitSoapIn" />
      <wsdl:output message="tns:GetHnxPTInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTMatch">
      <wsdl:input message="tns:GetHnxPTMatchSoapIn" />
      <wsdl:output message="tns:GetHnxPTMatchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTBid">
      <wsdl:input message="tns:GetHnxPTBidSoapIn" />
      <wsdl:output message="tns:GetHnxPTBidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTOffer">
      <wsdl:input message="tns:GetHnxPTOfferSoapIn" />
      <wsdl:output message="tns:GetHnxPTOfferSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Index">
      <wsdl:input message="tns:GetHnx30IndexSoapIn" />
      <wsdl:output message="tns:GetHnx30IndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockList">
      <wsdl:input message="tns:GetHnx30StockListSoapIn" />
      <wsdl:output message="tns:GetHnx30StockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuoteInit">
      <wsdl:input message="tns:GetHnx30StockQuoteInitSoapIn" />
      <wsdl:output message="tns:GetHnx30StockQuoteInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuote">
      <wsdl:input message="tns:GetHnx30StockQuoteSoapIn" />
      <wsdl:output message="tns:GetHnx30StockQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Top3Price">
      <wsdl:input message="tns:GetHnx30Top3PriceSoapIn" />
      <wsdl:output message="tns:GetHnx30Top3PriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketAllIndex">
      <wsdl:input message="tns:GetMarketAllIndexSoapIn" />
      <wsdl:output message="tns:GetMarketAllIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <wsdl:input message="tns:GetUpcomIndexSoapIn" />
      <wsdl:output message="tns:GetUpcomIndexSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <wsdl:input message="tns:GetUpcomStockListSoapIn" />
      <wsdl:output message="tns:GetUpcomStockListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuoteInit">
      <wsdl:input message="tns:GetUpcomStockQuoteInitSoapIn" />
      <wsdl:output message="tns:GetUpcomStockQuoteInitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuote">
      <wsdl:input message="tns:GetUpcomStockQuoteSoapIn" />
      <wsdl:output message="tns:GetUpcomStockQuoteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomTop3Price">
      <wsdl:input message="tns:GetUpcomTop3PriceSoapIn" />
      <wsdl:output message="tns:GetUpcomTop3PriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndexChart">
      <wsdl:input message="tns:GetUpcomIndexChartSoapIn" />
      <wsdl:output message="tns:GetUpcomIndexChartSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AjaxWebServiceHttpPost">
    <wsdl:operation name="GetStatusBasePrice">
      <wsdl:input message="tns:GetStatusBasePriceHttpPostIn" />
      <wsdl:output message="tns:GetStatusBasePriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndex">
      <wsdl:input message="tns:GetHoseIndexHttpPostIn" />
      <wsdl:output message="tns:GetHoseIndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHoseStockList">
      <wsdl:input message="tns:GetDataHoseStockListHttpPostIn" />
      <wsdl:output message="tns:GetDataHoseStockListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuoteInit">
      <wsdl:input message="tns:GetHoseStockQuoteInitHttpPostIn" />
      <wsdl:output message="tns:GetHoseStockQuoteInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuote">
      <wsdl:input message="tns:GetHoseStockQuoteHttpPostIn" />
      <wsdl:output message="tns:GetHoseStockQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndexChart">
      <wsdl:input message="tns:GetHoseIndexChartHttpPostIn" />
      <wsdl:output message="tns:GetHoseIndexChartHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTInit">
      <wsdl:input message="tns:GetHosePTInitHttpPostIn" />
      <wsdl:output message="tns:GetHosePTInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTMatch">
      <wsdl:input message="tns:GetHosePTMatchHttpPostIn" />
      <wsdl:output message="tns:GetHosePTMatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTBid">
      <wsdl:input message="tns:GetHosePTBidHttpPostIn" />
      <wsdl:output message="tns:GetHosePTBidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHosePTOffer">
      <wsdl:input message="tns:GetHosePTOfferHttpPostIn" />
      <wsdl:output message="tns:GetHosePTOfferHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30Index">
      <wsdl:input message="tns:GetHose30IndexHttpPostIn" />
      <wsdl:output message="tns:GetHose30IndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHose30StockList">
      <wsdl:input message="tns:GetDataHose30StockListHttpPostIn" />
      <wsdl:output message="tns:GetDataHose30StockListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuoteInit">
      <wsdl:input message="tns:GetHose30StockQuoteInitHttpPostIn" />
      <wsdl:output message="tns:GetHose30StockQuoteInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuote">
      <wsdl:input message="tns:GetHose30StockQuoteHttpPostIn" />
      <wsdl:output message="tns:GetHose30StockQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndex">
      <wsdl:input message="tns:GetHnxIndexHttpPostIn" />
      <wsdl:output message="tns:GetHnxIndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDataHnxStockList">
      <wsdl:input message="tns:GetDataHnxStockListHttpPostIn" />
      <wsdl:output message="tns:GetDataHnxStockListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuoteInit">
      <wsdl:input message="tns:GetHnxStockQuoteInitHttpPostIn" />
      <wsdl:output message="tns:GetHnxStockQuoteInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuote">
      <wsdl:input message="tns:GetHnxStockQuoteHttpPostIn" />
      <wsdl:output message="tns:GetHnxStockQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxTop3Price">
      <wsdl:input message="tns:GetHnxTop3PriceHttpPostIn" />
      <wsdl:output message="tns:GetHnxTop3PriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndexChart">
      <wsdl:input message="tns:GetHnxIndexChartHttpPostIn" />
      <wsdl:output message="tns:GetHnxIndexChartHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTInit">
      <wsdl:input message="tns:GetHnxPTInitHttpPostIn" />
      <wsdl:output message="tns:GetHnxPTInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTMatch">
      <wsdl:input message="tns:GetHnxPTMatchHttpPostIn" />
      <wsdl:output message="tns:GetHnxPTMatchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTBid">
      <wsdl:input message="tns:GetHnxPTBidHttpPostIn" />
      <wsdl:output message="tns:GetHnxPTBidHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTOffer">
      <wsdl:input message="tns:GetHnxPTOfferHttpPostIn" />
      <wsdl:output message="tns:GetHnxPTOfferHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Index">
      <wsdl:input message="tns:GetHnx30IndexHttpPostIn" />
      <wsdl:output message="tns:GetHnx30IndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockList">
      <wsdl:input message="tns:GetHnx30StockListHttpPostIn" />
      <wsdl:output message="tns:GetHnx30StockListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuoteInit">
      <wsdl:input message="tns:GetHnx30StockQuoteInitHttpPostIn" />
      <wsdl:output message="tns:GetHnx30StockQuoteInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuote">
      <wsdl:input message="tns:GetHnx30StockQuoteHttpPostIn" />
      <wsdl:output message="tns:GetHnx30StockQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Top3Price">
      <wsdl:input message="tns:GetHnx30Top3PriceHttpPostIn" />
      <wsdl:output message="tns:GetHnx30Top3PriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMarketAllIndex">
      <wsdl:input message="tns:GetMarketAllIndexHttpPostIn" />
      <wsdl:output message="tns:GetMarketAllIndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <wsdl:input message="tns:GetUpcomIndexHttpPostIn" />
      <wsdl:output message="tns:GetUpcomIndexHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <wsdl:input message="tns:GetUpcomStockListHttpPostIn" />
      <wsdl:output message="tns:GetUpcomStockListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuoteInit">
      <wsdl:input message="tns:GetUpcomStockQuoteInitHttpPostIn" />
      <wsdl:output message="tns:GetUpcomStockQuoteInitHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuote">
      <wsdl:input message="tns:GetUpcomStockQuoteHttpPostIn" />
      <wsdl:output message="tns:GetUpcomStockQuoteHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomTop3Price">
      <wsdl:input message="tns:GetUpcomTop3PriceHttpPostIn" />
      <wsdl:output message="tns:GetUpcomTop3PriceHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndexChart">
      <wsdl:input message="tns:GetUpcomIndexChartHttpPostIn" />
      <wsdl:output message="tns:GetUpcomIndexChartHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AjaxWebServiceSoap" type="tns:AjaxWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusBasePrice">
      <soap:operation soapAction="http://ssi.com.vn/GetStatusBasePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndex">
      <soap:operation soapAction="http://ssi.com.vn/GetHoseIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHoseStockList">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHoseStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuoteInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHoseStockQuoteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuote">
      <soap:operation soapAction="http://ssi.com.vn/GetHoseStockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndexChart">
      <soap:operation soapAction="http://ssi.com.vn/GetHoseIndexChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHosePTInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTMatch">
      <soap:operation soapAction="http://ssi.com.vn/GetHosePTMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTBid">
      <soap:operation soapAction="http://ssi.com.vn/GetHosePTBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTOffer">
      <soap:operation soapAction="http://ssi.com.vn/GetHosePTOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30Index">
      <soap:operation soapAction="http://ssi.com.vn/GetHose30Index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHose30StockList">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHose30StockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuoteInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHose30StockQuoteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuote">
      <soap:operation soapAction="http://ssi.com.vn/GetHose30StockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndex">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHnxStockList">
      <soap:operation soapAction="http://ssi.com.vn/GetDataHnxStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuoteInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxStockQuoteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuote">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxStockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxTop3Price">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxTop3Price" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndexChart">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxIndexChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxPTInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTMatch">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxPTMatch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTBid">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxPTBid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTOffer">
      <soap:operation soapAction="http://ssi.com.vn/GetHnxPTOffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Index">
      <soap:operation soapAction="http://ssi.com.vn/GetHnx30Index" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockList">
      <soap:operation soapAction="http://ssi.com.vn/GetHnx30StockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuoteInit">
      <soap:operation soapAction="http://ssi.com.vn/GetHnx30StockQuoteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuote">
      <soap:operation soapAction="http://ssi.com.vn/GetHnx30StockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Top3Price">
      <soap:operation soapAction="http://ssi.com.vn/GetHnx30Top3Price" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketAllIndex">
      <soap:operation soapAction="http://ssi.com.vn/GetMarketAllIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomStockList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuoteInit">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomStockQuoteInit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuote">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomStockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomTop3Price">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomTop3Price" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndexChart">
      <soap:operation soapAction="http://ssi.com.vn/GetUpcomIndexChart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AjaxWebServiceSoap12" type="tns:AjaxWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatusBasePrice">
      <soap12:operation soapAction="http://ssi.com.vn/GetStatusBasePrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndex">
      <soap12:operation soapAction="http://ssi.com.vn/GetHoseIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHoseStockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHoseStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuoteInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHoseStockQuoteInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuote">
      <soap12:operation soapAction="http://ssi.com.vn/GetHoseStockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndexChart">
      <soap12:operation soapAction="http://ssi.com.vn/GetHoseIndexChart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHosePTInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTMatch">
      <soap12:operation soapAction="http://ssi.com.vn/GetHosePTMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTBid">
      <soap12:operation soapAction="http://ssi.com.vn/GetHosePTBid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTOffer">
      <soap12:operation soapAction="http://ssi.com.vn/GetHosePTOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30Index">
      <soap12:operation soapAction="http://ssi.com.vn/GetHose30Index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHose30StockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHose30StockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuoteInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHose30StockQuoteInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuote">
      <soap12:operation soapAction="http://ssi.com.vn/GetHose30StockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndex">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHnxStockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetDataHnxStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuoteInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxStockQuoteInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuote">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxStockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxTop3Price">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxTop3Price" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndexChart">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxIndexChart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxPTInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTMatch">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxPTMatch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTBid">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxPTBid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTOffer">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnxPTOffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Index">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnx30Index" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnx30StockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuoteInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnx30StockQuoteInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuote">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnx30StockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Top3Price">
      <soap12:operation soapAction="http://ssi.com.vn/GetHnx30Top3Price" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketAllIndex">
      <soap12:operation soapAction="http://ssi.com.vn/GetMarketAllIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomIndex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomStockList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuoteInit">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomStockQuoteInit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuote">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomStockQuote" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomTop3Price">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomTop3Price" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndexChart">
      <soap12:operation soapAction="http://ssi.com.vn/GetUpcomIndexChart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AjaxWebServiceHttpPost" type="tns:AjaxWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetStatusBasePrice">
      <http:operation location="/GetStatusBasePrice" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndex">
      <http:operation location="/GetHoseIndex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHoseStockList">
      <http:operation location="/GetDataHoseStockList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuoteInit">
      <http:operation location="/GetHoseStockQuoteInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseStockQuote">
      <http:operation location="/GetHoseStockQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHoseIndexChart">
      <http:operation location="/GetHoseIndexChart" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTInit">
      <http:operation location="/GetHosePTInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTMatch">
      <http:operation location="/GetHosePTMatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTBid">
      <http:operation location="/GetHosePTBid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHosePTOffer">
      <http:operation location="/GetHosePTOffer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30Index">
      <http:operation location="/GetHose30Index" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHose30StockList">
      <http:operation location="/GetDataHose30StockList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuoteInit">
      <http:operation location="/GetHose30StockQuoteInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHose30StockQuote">
      <http:operation location="/GetHose30StockQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndex">
      <http:operation location="/GetHnxIndex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataHnxStockList">
      <http:operation location="/GetDataHnxStockList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuoteInit">
      <http:operation location="/GetHnxStockQuoteInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxStockQuote">
      <http:operation location="/GetHnxStockQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxTop3Price">
      <http:operation location="/GetHnxTop3Price" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxIndexChart">
      <http:operation location="/GetHnxIndexChart" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTInit">
      <http:operation location="/GetHnxPTInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTMatch">
      <http:operation location="/GetHnxPTMatch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTBid">
      <http:operation location="/GetHnxPTBid" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnxPTOffer">
      <http:operation location="/GetHnxPTOffer" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Index">
      <http:operation location="/GetHnx30Index" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockList">
      <http:operation location="/GetHnx30StockList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuoteInit">
      <http:operation location="/GetHnx30StockQuoteInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30StockQuote">
      <http:operation location="/GetHnx30StockQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHnx30Top3Price">
      <http:operation location="/GetHnx30Top3Price" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMarketAllIndex">
      <http:operation location="/GetMarketAllIndex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndex">
      <http:operation location="/GetUpcomIndex" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockList">
      <http:operation location="/GetUpcomStockList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuoteInit">
      <http:operation location="/GetUpcomStockQuoteInit" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomStockQuote">
      <http:operation location="/GetUpcomStockQuote" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomTop3Price">
      <http:operation location="/GetUpcomTop3Price" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpcomIndexChart">
      <http:operation location="/GetUpcomIndexChart" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AjaxWebService">
    <wsdl:port name="AjaxWebServiceSoap" binding="tns:AjaxWebServiceSoap">
      <soap:address location="http://banggia2.ssi.com.vn/AjaxWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AjaxWebServiceSoap12" binding="tns:AjaxWebServiceSoap12">
      <soap12:address location="http://banggia2.ssi.com.vn/AjaxWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AjaxWebServiceHttpPost" binding="tns:AjaxWebServiceHttpPost">
      <http:address location="http://banggia2.ssi.com.vn/AjaxWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>